.sobre {
    width: 80vw;
    margin: 2em auto;
    padding: 0 0;
}

.sobre__divisao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre__textos {
    width: 55%;
}

.sobre__titulo {
    border-bottom: 3px solid;
    font-weight: 500;
    font-size: 3em;
    display: inline-block;
    width: 2em;
    padding-bottom: .2em;
    margin-top: 1em;
}

.sobre__titulo-destaque {
    color: var(--vermelho);
}

.sobre__paragrafo {
    line-height: 1.5em;
    font-size: 1.2em;
    padding: 2em 0;
}

.sobre__imagem {
    width: 40%;

}

.sobre__imagem-foto {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.sobre__equipe {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -4em;
}

.sobre__card {
    text-align: center;
    color: var(--branco);
}

.sobre__divisao-card {
    width: 20%;
    transition: ease-in-out .5s;
}

.sobre__divisao-card:hover {
    transition: ease-in-out .5s;
    transform: scale(1.1);
} 

.sobre__avatar {
    width: 98%;
    position: relative;
    top: 6em;
}

.sobre__descricao {
    padding: 8em 2em 2em 2em;
    border: 1px solid var(--branco);
    border-radius: 35px;
    background-color: var(--cinza-escuro);
    height: 10em;
}

.sobre__descricao-titulo {
    padding-bottom: 1.8em;
    font-weight: 500;
    font-size: larger;
    color: var(--vermelho);
}

.sobre__descricao-paragrafo {
    padding-bottom: 1em;
}